<div class="container">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col"> Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees | async"  >
        <td> 
          <div class="alert alert-light alert-dismissible fade show" role="alert">
            <strong>{{ employee.name }}</strong>
            <button type="button" (click)="deleteEmployee(employee.id)" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <form (ngSubmit)="addEmployee()">
    <input type="text" [(ngModel)]="newEmployee.name" placeholder="Employee Name" name="Name"/>
    <button type="submit" class="btn btn-success" >Add Employeee</button>
  </form>
</div>
